@charset "UTF-8";

body {
  overflow-y: hidden;
  overflow-x: hidden;
}

/* 헤더(탑 네비게이션  */
.cs-main-nav-bg {
  background-color: #f8ebe6;
}

/* 메인 컨텐츠 백그라운드 색상 */
.cs-main-content-bg {
  background-color: #fff8f5;
}

/* header 67 , footer 12 */
.cs-content {
  height: calc(100vh - 63px);
  max-height: calc(100vh - 63px);
  overflow-y: auto;
}

.cs-sidebar-menu {
  position: fixed;
  left: 0;
  z-index: 20;
  box-shadow: rgb(91 91 91) 3px 5px 7px 1px;
    border: 0.1px solid #b4b4b4;
}

.cs-sidebar-list-group {
  height: calc(100vh - 67px);
}

.cs-profile-box {
  min-height: 150px;
  height: 150px;
  border-radius: 10px;
  background: repeating-linear-gradient(to top left, #ff8000, #ffa54b, #ffd1a3);
}
.cs-profile-box .nickname {
  color:#171717;

}

.cs-profile {
  width: 75px;
  height: 75px;
  border-radius: 20px;
}


.cs-floating-btn-container {
  z-index: 3;
  position: fixed;
  bottom: 60px;
  right: 35px;
  display: flex;
  /* 중앙 정렬을 위한 flex 설정 */
  flex-direction: column;
  /* 버튼들을 수직으로 정렬 */
  align-items: center;
  /* 가로 중앙 정렬 */
}

.cs-floating-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: white;
  background-color: #ff5722;
  border: none;
  outline: none;
  font-size: 24px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 2;
  transition: transform 0.3s;
}

.cs-floating-sub-buttons {
  display: flex;
  flex-direction: column;
  /* 하위 버튼들을 수직으로 배치 */
  gap: 10px;
  /* 각 버튼 사이의 간격 */
  align-self: center;
  /* 하위 버튼들을 중앙 정렬 */
  pointer-events: none;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.3s, transform 0.3s;
}

.cs-sub-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #666;
  color: white;
  border: none;
  outline: none;
  font-size: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}



.cs-floating-btn-container.cs-active .cs-floating-sub-buttons {
  pointer-events: auto;
  /* cs-active 상태에서는 클릭 가능하게 설정 */
  opacity: 1;
  /* cs-active 상태에서는 투명도 100%로 설정 */
  transform: translateY(0);
  /* cs-active 상태에서는 원래 위치로 설정 */
}

.cs-floating-btn-container.cs-active .cs-sub-btn {
  opacity: 1;
  transform: translateY(0);
}

.cs-floating-btn-container.cs-active .cs-floating-btn {
  transform: rotate(45deg);
  margin-top: 10px;
}


.cs-floating-btn-container.cs-active .cs-sub-btn:hover::before {
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: inherit;
  /* 부모 요소의 배경색을 상속받습니다. */
  opacity: 0.7;
  /* 여기에서 원하는 투명도를 설정합니다. */
  pointer-events: none;
  /* 가상 요소 위의 마우스 동작을 방지합니다. */
  content: ''
}

/* 전병준 css 영역 */

.cs-content .cs-list-background {
  margin: 5%;
  background-color: #000000;
}

.cs-list-cover {
  border-radius: 20px;
  border: solid 20px;
  border-color: #FFDCBC;
  margin-left: 10%;
  margin-right: 10%;
}

.cs-list-cover-top {
  margin-left: 10%;
  margin-right: 10%;
}

.cs-list-outer-content {
  margin: 2%;
  text-align: center;
  width: 550px;
  border-radius: 30px;
}

.cs-list-outer-content h1 {
  line-height: unset;
}

.cs-list-content {
  margin: 10px;
}

.cs-list-content .cs-background-form {
  background-color: #666;
}

 .cs-list-outer-content .btn-check:focus+.btn-light, .btn-check:focus-visible+.btn-light, .btn-light:focus {
    box-shadow: var(--mdb-btn-box-shadow-state);
    background-color: #ffb46d;
}

.cs-list-selectbox {
  width: 20%;
  margin: 1%;
  float: right;
}

/*--------------천현지 mypage-------------*/

/* :root{
  font-size: 10px;
}*/

.cs-mypage-aside,
.cs-mypage-aside2 {
  width: 10%;
}

.cs-mypage-container {
  max-width: 93.5rem;
  margin: 0 auto;
  padding: 0 2rem;
  width: 80%;

}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* 마이페이지 프로필 */
.cs-mypage-profile {
  padding: 5rem 0;
}

.cs-mypage-profile::after {
  content: "";
  display: block;
  clear: both;
}

.cs-mypage-profile-image {
  float: left;
  width: calc(33.333% - 1rem);

  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
}

.cs-mypage-profile-image img {
  border-radius: 50%;
}

.cs-mypage-profile-user-name {
  display: inline-block;
  font-size: 3.2rem;
  font-weight: 300;
}

.cs-mypage-profile-follow-btn {
  font-size: 1.4rem;
  line-height: 1.8;
  border: 0.1rem solid #dbdbdb;
  border-radius: 0.3rem;
  padding: 0 2.4rem;
  margin-left: 2rem;
}

.cs-mypage-profile-stats {
  margin-top: 1.3rem;
}

.cs-mypage-profile-stats li {
  display: inline-block;
  font-size: 1.3rem;
  line-height: 1.5;
  margin-right: 4rem;
  cursor: pointer;
}

.cs-mypage-profile-stats li:last-of-type {
  margin-right: 0;
}

.cs-mypage-profile-bio {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 2.3rem;
}

/* 마이페이지 게시물 */
.cs-mypage-gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
  padding-bottom: 3rem;
}

.cs-mypage-gallery-item {
  position: relative;
  flex: 1 0 22rem;
  margin: 1rem;
  color: #fff;
  cursor: pointer;
}

.cs-mypage-gallery-item:hover .cs-mypage-gallery-item-info,
.cs-mypage-gallery-item:focus .cs-mypage-gallery-item-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.cs-mypage-gallery-item-info {
  display: none;
}

.cs-mypage-gallery-item-info li {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 600;
}

.cs-mypage-gallery-item-likes {
  margin-right: 2.2rem;
}

.cs-mypage-gallery-item-type {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.cs-mypage-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 이미지 로더 */
.loader {
  width: 5rem;
  height: 5rem;
  border: 0.6rem solid #999;
  border-bottom-color: transparent;
  border-radius: 50%;
  margin: 0 auto;
  animation: loader 500ms linear infinite;
}

/* 이미지 로더 빙글빙글 애니메이터*/
@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}







/*--------------------------------------------------*/



@media only screen and (max-width: 576px) {

  
    .footer a {
      color: black !important;
      text-decoration: none !important;
      font-size: 0.9rem;
    }
    .footer a:hover {
      color: rgba(0, 0, 0, 0.2) !important;
    }
    .footer {
      background-color:#fff;
      min-height: calc(0.9rem * 2);
    }
    
    /* 지도 검색 목록 커버 */
    .cs-map-list-section-cover {
      z-index:4;
      height : calc(100vh - 212px);
      bottom:0px;
      width:100%;
      transform : scaleY(0);
      transform-origin: bottom;
      max-height: 100%;
      overflow-y: auto;
      transition: all 0.3s ease-in-out;
    }
    .cs-bar-cover.active .cs-map-list-section-cover {
      /* opacity: 1; */
      transform : scaleY(1) !important;
      transition: all 0.3s ease-in-out;
    }
    .cs-bar-cover {
      z-index:10;
      top: calc(100vh - 155px);
      bottom:0px;
      left : 0px;
      width:100%;
      z-index:10;
      text-align: center;
      transform-origin: bottom;
      transition: all 0.3s ease-in-out;
      border-radius: 15px 15px 0px 0px;
    }
    .cs-bar-cover.active {
      top : 120px;
      transform : scaleY(1) !important;
      transition: all 0.3s ease-in-out;
    }
    .cs-bar-cover .cs-btn-active , .cs-btn-deactive {
      width: 100%;
      border : 0.1px solid gray;
      border-radius: 15px 15px 0px 0px;
    }

}

/* 가로 해상도가 576px 보다 작은 큰화면 적용) */
@media only screen and (min-width: 576px) {

    .footer a {
      color: black !important;
      text-decoration: none !important;
      font-size: 1rem;
    }
    .footer a:hover {
      color: rgba(0, 0, 0, 0.2) !important;
    }
    .footer {
      background-color:#fff;
      min-height: calc(1rem * 2);
    }
        
    /* 지도 검색 목록 커버 */
    .cs-map-list-section-cover {
      z-index:4;
      height : 100%;
      bottom:0px;
      width: calc(100% - 35px); /* (button 21 px) + (padding 6 * 2) */
      transform : scaleX(0);
      transform-origin: left;
      max-height: 100%;
      overflow-y: auto;
  
    }
    .cs-bar-cover.active .cs-map-list-section-cover {
      /* opacity: 1; */
      transform : scaleX(1) !important;
      transition: all 0.3s ease-in-out;
    }

    .cs-bar-cover {
      z-index: 10;
      top: 0px;
      text-align: end;
      height:100%;
      z-index: 10;
      transform-origin: left;
      transition: all 0.3s ease-in-out;
      border-radius: 0px 15px 15px 0px;
    }
    .cs-bar-cover .bar {
      height :100%;
    }
    .cs-bar-cover.active {
      top : 0px;
      left : 0px;
      width: 40%;
      transform : scaleX(1) !important;
      transition: all 0.3s ease-in-out;
    }
    .cs-bar-cover .cs-btn-active , .cs-btn-deactive {
      height: 100%;
      border : 0.1px solid gray;
      border-radius: 0px 15px 15px 0px;
    }
    .cs-bar-cover .bar .cs-btn-deactive.d-sm-inline-block {
      display: none !important;
    }
    .cs-bar-cover.active .bar .cs-btn-deactive.d-sm-inline-block {
      display: inline-block !important;
    }
    .cs-map-list-section-cover {

    }
  }

  /* 가로 해상도가 768px 보다 작은 큰화면에 적용) */
  @media only screen and (min-width: 768px) {
    .footer a {
      color: black !important;
      text-decoration: none !important;
      font-size: 1rem;
    }

    .footer a:hover {
      color: rgba(0, 0, 0, 0.2) !important;
    }


    .footer {
      min-height: calc(1rem * 2);
    }
  }
  
  /* 가로 해상도가 992px 보다 작은 큰화면에 적용) */
  @media only screen and (min-width: 992px) {
    .footer a {
      color: black !important;
      text-decoration: none !important;
      font-size: 1.3rem;
    }
  
    .footer a:hover {
      color: rgba(0, 0, 0, 0.2) !important;
    }
    .footer {
      min-height: calc(1.3rem * 2);
    }
  }
/* 가로 해상도가 1200px 보다 작은 큰화면에 적용) */
@media only screen and (min-width: 1200px) {
  .footer a {
    color: black !important;
    text-decoration: none !important;
    font-size: 1.1rem;
  }

  .footer a:hover {
    color: rgba(0, 0, 0, 0.2) !important;
  }

  .footer {
    min-height: calc(1.1rem * 2);
  }
}

@media only screen and (min-width: 1920px) {
  .footer a {
    color: black !important;
    text-decoration: none !important;
    font-size: 1.2rem;
  }

  .footer a:hover {
    color: rgba(0, 0, 0, 0.2) !important;
  }

  .footer {
    min-height: calc(1.2rem * 2);
  }
}

.cs-card-feed {
  border-radius: 1rem;
  background-color: #dddddd;
  height: 300px;
}

.cs-card-feed::after {
  position: absolute;
  border-radius: 1rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: inherit;
  /* 부모 요소의 배경색을 상속받습니다. */
  opacity: 0.1;
  /* 여기에서 원하는 투명도를 설정합니다. */
  pointer-events: none;
  /* 가상 요소 위의 마우스 동작을 방지합니다. */
  content: '';

}

.cs-card-feed .card-text {
  color: black;
}

.cs-card-feed:hover:before {
  position: absolute;
  border-radius: 1rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: inherit;
  /* 부모 요소의 배경색을 상속받습니다. */
  opacity: 0.9;
  /* 여기에서 원하는 투명도를 설정합니다. */
  pointer-events: none;
  /* 가상 요소 위의 마우스 동작을 방지합니다. */
  content: '';
  background: linear-gradient(180deg, #000000, #3a3a3a, #c6c6c6, #ffffff);
}

/* .cs-card-feed:hover:before{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;
  
  } */
.cs-card-feed:before:hover {
  display: block !important;

}

.cs-feed-header {
  border-top: 0.1px solid black;
  background-color: #edebea;
}

.cs-feed-card {
  cursor: pointer;
}

.cs-feed-card .card-body{
  height:150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cs-feed-card .cs-tags {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.cs-autocomplete-list {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.3s ease-in-out;
  position: absolute;
  width: calc(100% - 3.5rem);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  background-color: white;
  z-index: 10;
  top: -1rem;

}

.cs-autocomplete-show {
  opacity: 1 !important;
  transform: scaleY(1) !important;
  /*  */
}

.cs-feed-search-btn {
  line-height: 1.1rem !important;
}

.cs-autocomplete-item {
  padding: 10px;
  cursor: pointer;
}



.cs-autocomplete-item:hover {
  background-color: #f0f0f0;
}

.cs-autocomplete-list .btn-tag.selected {
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.259) inset !important;
  background-color: #e9e9e9;
  /* background-color:rgba(218, 218, 218, 0.831); */
}

.fa-star.star-active {
  color: orange;
}

.fa-star-half.star-active {
  color: orange;
}

.cs-autocomplete-item.active {
  background-color: #f0f0f0;
}



.cs-map-search-cover {
  top: 10px;
  position: absolute;
  z-index: 1;
  right: -1rem;
}


/* .cs-map-search-cover .cs-map-search-section{

} */
.cs-map-search-cover .cs-tag-section {
  max-width: 100%;
  max-height: 50px;
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
}

/* 스크롤바 */
.cs-map-search-cover .cs-tag-section::-webkit-scrollbar {
  width: 100%;
  height: 8px;
}

.cs-map-search-cover .cs-tag-section::-webkit-scrollbar-thumb {
  background: #f1b200b8;
  border-radius: 14px;

}

.cs-map-search-section .btn-tag {
  background-color: #ffffff;
  color: #000000;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  border: 0.1px solid rgb(176, 176, 176) !important;
}

.cs-map-search-section .btn-tag.selected {
  background-color: #e9e9e9;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.259) inset !important;
}



/* 지도 검색 목록 커버 */
.cs-map-list-section-cover {
  background-color: #dddddd;
}

.cs-map-list-section-cover::-webkit-scrollbar {
  height: 100%;
  width: 8px;
}

.cs-map-list-section-cover::-webkit-scrollbar-thumb {
  background: #ffbb00de;
  border-radius: 14px;

}

.cs-map-list-section-cover .bar {
  cursor: pointer;
  height: 10px;
}

/* .cs-bar-cover {
  top: calc(100vh - 160px);
  height: 100px;
  background-color:rgba(0, 0, 0, 0.259);
  left:0px;
  z-index:10;

}
.cs-bar-cover {
  text-align: center;
  width:100%;
  background-color: rgba(128, 128, 128, 0.413);
  border-radius: 15px 15px 0px 15px;
} */

.cs-bar-cover.active .bar .cs-btn-deactive {
  display: inline-block;
}

.cs-bar-cover.active .bar .cs-btn-active {
  display: none;
}

.cs-bar-cover .bar .cs-btn-deactive {
  display: none;
}

.cs-bar-cover .bar .cs-btn-active {
  display: inline-block;
}

.cs-bar-cover.active .bar .cs-btn-deactive.d-sm-inline-block {
  display: inline-block;
  opacity: 1;
}

.cs-bar-cover .bar .cs-btn-active.d-sm-inline-block {
  display: inline-block;
}

.cs-bar-cover.active .bar .cs-btn-active.d-sm-inline-block {
  display:none !important;
}

.footer-menus {
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
  border-right: 1px solid black;

}


/*-------천현지 가게페이지-----*/
/*--가게 상제 정보 망고플레이트 참고--*/


.cs-restaurant_name{
  display:inline-block;
  max-width:100%;
  word-break:break-all
}

.cs-restaurant-detail>header{
  position:relative;
  padding-bottom:10px;
  min-height:74px
}
.cs-rate-point{
  font-size:20px;
  color:#f5e4e4;
  margin-left:5px
}
.cs-Restaurant__InfoItemLabel--RoadAddressText{
  font-size:16px;
  line-height:normal
}
.cs-Restaurant__InfoItemLabel--Address{
  margin-top:10px
}
.cs-Restaurant__InfoItemLabel--RoadAddressText{
  font-size:16px;color:#4f4f4f;
  line-height:normal
}
.cs-Restaurant__InfoAddress--Rectangle{
  border-radius:2px;
  border:solid 1px #e9e9e9;
  padding:0 4px;
  margin-right:2px;
  font-size:12px;color:#7f7f7f
}
.cs-Restaurant__InfoAddress--Text{
  font-size:14px;
  color:#7f7f7f;
  line-height:normal
}

/* .cs-Restaurant_Menu{
  flex:1;
  display:inline-block;
  margin-right:30px;
  white-space:normal
} */
.cs-restaurant-detail .info td{
  font-size:.9rem;
  color:#4f4f4f;
  line-height:1.7;
  text-align:left;
  vertical-align:middle;
  padding-bottom:5px
}
.cs-restaurant-detail 
.info th{
  width:110px;
  font-size:.9rem;
  color:rgba(79,79,79,0.6);
  line-height:1.7;
  text-align:left;
  vertical-align:top;
  padding-right:10px;
  padding-bottom:5px
}

.cs-storepage {
  margin-top: 30px;
  margin-bottom: 30px;
}

.carousel-inner {
  height: 500px;
}

.cs-storeinfo-map {
  width: 100%;
}

.cs-listmargin {
  margin-left: 50px;

}

.cs-listmarginrigth {
  margin-right: 50px;
}

.cs-reviewtest{
  display: table-cell;
  vertical-align: middle;
  padding-left: 30px;
  padding-top:10px;
}

.carousel-item>img {
width: 500px;
height: 500px;
object-fit: contain;
}

/*===================================================이은혁작업=================================================================================*/
/*=====================================================공통================================================================================*/
.my_gradient_1{
  background-image: linear-gradient(to bottom,#f87a12,#ffff);
  height: 200px;
} 


.bg_container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 20px;
  background-color: transparent;
  border-radius: 20px;
 
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: transparent;
  border-radius: 20px;
  position: relative;
  top: -20px;
}

/* .bubble {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid #f6fafb;
  position: relative;
  right: -100px;
  top: -50px;
  margin: -30px;
} */

.board_wrap {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 30px;
  background-color: #f87a12;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  
}

.board_wrap .board_title {
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  bottom: -20px;
  
}

.board_title strong {
  font-size: 2.3rem; 
  color: #fff1ea;

}

.board_title p {
  margin-top: 3px;
  font-size: 1.5rem;
  color: #ffeadf;
}

.bt_wrap {
  margin-top: 30px;
  text-align: center;
  font-size: 0;
}

.bt_wrap a {
  display: inline-block;
  min-width: 80px;
  margin-left: 10px;
  padding: 10px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #3b3a3a21;
  font-size: 1.5rem;
}

.bt_wrap a:first-child {
  margin-left: 0;
}

.bt_wrap a.on {
  background: #f87a12;
  color: #ffffff;
  
}

/*=================================================================================notice================================================================*/

.board_list_head,
.board_list_body .item {
    padding: 10px 0;
    font-size: 0;
}

.board_list_head {
    border-top: 2px solid #f87a12;
    border-bottom: 1px solid #f87a12;
}

.item {
    border-bottom: 1px solid #ccc;
}

.board_list_head > div,
.item > div {
    display: inline-block;
    text-align: center;
    font-size: 15px;
}

.board_list_head > div {
    font-weight: 600;
}

.board_list .num {
    width: 10%;
}

.board_list .tit {
    width: 55%;
}

.board_list_body div.tit {
    text-align: left;
}

.board_list_body div.tit a:hover {
    text-decoration: underline;
}

.board_list .writer {
    width: 8%;
}

.board_list .date {
    width: 15%;
}

.board_list .board_cont {
    width: 10%;
}

.item{
  background-color: #fff;
  padding: 20px;
  margin-top: 5px;
  border-radius: 20px;
 
}

.board_page {
  margin-top: 30px;
  text-align: center;
  font-size: 0;
}

.board_page a {
  display: inline-block;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  vertical-align: middle;
  border: 1px solid #ddd;
  border-left: 0;
  line-height: 100%;
}

.board_page a.bt {
  padding-top: 10px;
  font-size: 1.2rem;
  letter-spacing: -1px;
}

.board_page a.num {
  padding-top: 9px;
  font-size: 1.4rem;
}

.board_page a.num.on {
  border-color: #000;
  background: #000;
  color: #fff;
}

.board_page a:first-child {
  border-left: 1px solid #ddd;
}

/*========================================view===================================*/

.board_view {
  width: 100%;
  border-top: 1px solid #f87a12;
}

.board_view .view_title {
  padding: 20px 15px;
  font-size: 2rem;
  border-bottom: 1px solid #f87a12;
  
}

.board_view .view_info {
  padding: 20px;
  border-bottom: 1px solid #f87a12;
  font-size: 0;
}

.board_view .view_info dl {
  position: relative;
  display: inline-block;
  padding: 0 30px;
  bottom: -5px;
}

.board_view .view_info dl:first-child {
  padding-left: 0;
}

.board_view .view_info dl::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  display: block;
  width: 2px;
  height: 18px;
  background: #f87a12;
}

.board_view .view_info dl:first-child::before {
  display: none;
}

.board_view .view_info dl dt,
.board_view .view_info dl dd {
  display: inline-block;
  font-size: 1.5rem;
}

.board_view .view_info dl dd {
  margin-left: 10px;
  color: #262020;
}

.board_view .view_cont {
  padding: 15px;
  border-bottom: 1px solid #f87a12;
  line-height: 160%;
  font-size: 1.5rem;
}

.answer{
  padding: 15px;
  border-bottom: 1px solid #f87a12;
  line-height: 160%;
  font-size: 1.5rem;
}
/*================================write=====================================================*/
.board_write .write_title,
.board_write .write_name,
.board_write .write_pass,
.board_write .write_upload,
.board_write .write_cont,
.write_tag {
  border-bottom: 1px solid #f87a12dd;
  padding: 15px;
}

.board_write .write_title dl {
  font-size: 0;
}
.board_write .write_name dl {
  font-size: 0;
}
.board_write .write_pass dl {
  font-size: 0;
}
.board_write .write_upload dl,
.board_write .write_cont dl { 
  font-size: 0;
}
.board_write .write_tag dl {
  font-size: 0;
}

.board_write .write_title dt,
.board_write .write_title dd,
.board_write .write_name dt,
.board_write .write_pass dt,
.board_write .write_name dd,
.board_write .write_pass dd,
.board_write .write_upload dt,
.board_write .write_upload dd,
.board_write .write_cont dt,
.board_write .write_cont dd,
.board_write .write_tag dt,
.board_write .write_tag dd   {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5rem;
}

.board_write .write_title dt,
.board_write .write_name dt,
.board_write .write_pass dt,
.board_write .write_upload dt,
.board_write .write_cont dt,
.board_write .write_tag dt {
  width: 100px;
}

.board_write .write_title dd,
.board_write .write_name dd,
.board_write .write_pass dd,
.board_write .write_upload dd,
.board_write .write_cont dd,
.board_write .write_tag dd {
  width: calc(100% - 100px);
}

.board_write .write_title input[type="text"],
.board_write .write_name input[type="text"],
.board_write .write_pass input[type="password"],
.board_write .write_upload input[type="file"],
.board_write .write_tag input[type="text"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.board_write_wrap .write_cont textarea {
  display: block;
  width: 100%;
  height: 300px;
  padding: 15px;
  box-sizing: border-box;
  border: 0;
  resize: vertical;
}

/*====================================main_write========================================================================================*/
 .image_container{
  width: 100%;
  height: 150px;
  padding: 10px;
  background-color: transparent;
  box-sizing: border-box;
  border: 2px solid #f87a121e;
  }
  
 .image_btn{
  border: 0;

 } 

.input_file{
  display: none;
}

.starpoint_wrap{
  position: relative;
  bottom: -5px;
}

.starpoint_wrap{display:inline-block;}
.starpoint_box{position:relative;background:url(https://ido-archive.github.io/svc/etc/element/img/sp_star.png) 0 0 no-repeat;font-size:0;}
.starpoint_box .starpoint_bg{display:block;position:absolute;top:0;left:0;height:18px;background:url(https://ido-archive.github.io/svc/etc/element/img/sp_star.png) 0 -20px no-repeat;pointer-events:none;}
.starpoint_box .label_star{display:inline-block;width:10px;height:18px;box-sizing:border-box;}
.starpoint_box .star_radio{opacity:0;width:0;height:0;position:absolute;}
.starpoint_box .star_radio:nth-of-type(1):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(1):checked ~ .starpoint_bg{width:10%;}
.starpoint_box .star_radio:nth-of-type(2):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(2):checked ~ .starpoint_bg{width:20%;}
.starpoint_box .star_radio:nth-of-type(3):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(3):checked ~ .starpoint_bg{width:30%;}
.starpoint_box .star_radio:nth-of-type(4):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(4):checked ~ .starpoint_bg{width:40%;}
.starpoint_box .star_radio:nth-of-type(5):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(5):checked ~ .starpoint_bg{width:50%;}
.starpoint_box .star_radio:nth-of-type(6):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(6):checked ~ .starpoint_bg{width:60%;}
.starpoint_box .star_radio:nth-of-type(7):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(7):checked ~ .starpoint_bg{width:70%;}
.starpoint_box .star_radio:nth-of-type(8):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(8):checked ~ .starpoint_bg{width:80%;}
.starpoint_box .star_radio:nth-of-type(9):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(9):checked ~ .starpoint_bg{width:90%;}
.starpoint_box .star_radio:nth-of-type(10):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(10):checked ~ .starpoint_bg{width:100%;}
.blind{position:absolute;clip:rect(0 0 0 0);margin:-1px;width:1px;height: 1px;overflow:hidden;}
