body {
  overflow-y: hidden;
  overflow-x: hidden;
}
/* 헤더(탑 네비게이션  */
.cs-main-nav-bg {
  background-color: #f8ebe6;
}
/* 메인 컨텐츠 백그라운드 색상 */
.cs-main-content-bg {
  background-color: #fff8f5;
}
/* header 67 , footer 12 */
.cs-content {
  height: calc(100vh - 63px);
  max-height: calc(100vh - 63px);
  overflow-y: auto;
}
.cs-sidebar-menu {
  position: fixed;
  left: 0;
  z-index: 2;
}
.cs-sidebar-list-group {
  height: calc(100vh - 67px);
  box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.413);
}
.cs-profile-box {
  min-height: 150px;
  height: 150px;
  background: repeating-linear-gradient(to top left, #f3f3f3, #dddddd, #dfdfdf);
}
.cs-profile{
    width: 75px; height: 75px; border-radius: 20px;
}


.cs-floating-btn-container {
    position: fixed;
    bottom: 60px;
    right: 35px;
    display: flex;           /* 중앙 정렬을 위한 flex 설정 */
    flex-direction: column;  /* 버튼들을 수직으로 정렬 */
    align-items: center;     /* 가로 중앙 정렬 */
}
.cs-floating-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: white;
    background-color: #ff5722;
    border: none;
    outline: none;
    font-size: 24px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 2;
    transition: transform 0.3s;
}

.cs-floating-sub-buttons {
    display: flex;
    flex-direction: column;  /* 하위 버튼들을 수직으로 배치 */
    gap: 10px;               /* 각 버튼 사이의 간격 */
    align-self: center;      /* 하위 버튼들을 중앙 정렬 */
    pointer-events: none;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.3s, transform 0.3s;
}
.cs-sub-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #666;
    color: white;
    border: none;
    outline: none;
    font-size: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}



.cs-floating-btn-container.cs-active .cs-floating-sub-buttons {
    pointer-events: auto; /* cs-active 상태에서는 클릭 가능하게 설정 */
    opacity: 1; /* cs-active 상태에서는 투명도 100%로 설정 */
    transform: translateY(0); /* cs-active 상태에서는 원래 위치로 설정 */
}

.cs-floating-btn-container.cs-active .cs-sub-btn {
    opacity: 1;
    transform: translateY(0);
}

.cs-floating-btn-container.cs-active .cs-floating-btn {
    transform: rotate(45deg);
    margin-top: 10px;
}


.cs-floating-btn-container.cs-active .cs-sub-btn:hover::before{
    position : absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: inherit;  /* 부모 요소의 배경색을 상속받습니다. */
    opacity: 0.7;  /* 여기에서 원하는 투명도를 설정합니다. */
    pointer-events: none;  /* 가상 요소 위의 마우스 동작을 방지합니다. */
    content : ''
}

/* 여기서부터 제가 작업한 CSS입니다. -전병준- */
#cs-test h3{
  margin-top: 10%;
  margin-bottom: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #ffba87;
  border-radius: 30px;
}

#cs-list-border {
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 20px;
  border-style: solid;
  border-width: 15px;
  border-color: #FFDCBC;
}

.row-border{
  margin: 20px 20px 20px 20px;
  background-color: #C0BFBF;
  border-radius: 10px;
  height: 80px;
  text-align: center;
  display: flex;
  align-items: center;
}

#cs-right-box{
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  float: right;
  width: 150px;
}


@media only screen and (max-width: 576px) {
  
    .footer a {
      color: black !important;
      text-decoration: none !important;
      font-size: 0.9rem;
    }
    .footer a:hover {
      color: rgba(0, 0, 0, 0.2) !important;
    }
    .footer {
      min-height: calc(0.9rem * 2);
    }
  }

  /* 가로 해상도가 576px 보다 작은 큰화면 적용) */
  @media only screen and (min-width: 576px) {

    .footer a {
      color: black !important;
      text-decoration: none !important;
      font-size: 1rem;
    }
    .footer a:hover {
      color: rgba(0, 0, 0, 0.2) !important;
    }
    .footer {
      min-height: calc(1rem * 2);
    }
  }

  /* 가로 해상도가 768px 보다 작은 큰화면에 적용) */
  @media only screen and (min-width: 768px) {
    .footer a {
      color: black !important;
      text-decoration: none !important;
      font-size: 1rem;
    }
    .footer a:hover {
      color: rgba(0, 0, 0, 0.2) !important;
    }
    .footer {
      min-height: calc(1rem * 2);
    }
  }

  /* 가로 해상도가 992px 보다 작은 큰화면에 적용) */
  @media only screen and (min-width: 992px) {
    .footer a {
      color: black !important;
      text-decoration: none !important;
      font-size: 1.3rem;
    }
    .footer a:hover {
      color: rgba(0, 0, 0, 0.2) !important;
    }
    .footer {
      min-height: calc(1.3rem * 2);
    }
  }

  /* 가로 해상도가 1200px 보다 작은 큰화면에 적용) */
  @media only screen and (min-width: 1200px) {
    .footer a {
      color: black !important;
      text-decoration: none !important;
      font-size: 1.1rem;
    }
    .footer a:hover {
      color: rgba(0, 0, 0, 0.2) !important;
    }
    .footer {
      min-height: calc(1.1rem * 2);
    }
  }
  @media only screen and (min-width: 1920px) {
    .footer a {
      color: black !important;
      text-decoration: none !important;
      font-size: 1.2rem;
    }
    .footer a:hover {
      color: rgba(0, 0, 0, 0.2) !important;
    }
    .footer {
      min-height: calc(1.2rem * 2);
    }
  }





  