<!DOCTYPE html>
<th:block th:replace="layout/main-layout :: layout(feed,none)">
  <th:block th:fragment="add_header">
    <title>맛집 지도</title>
  </th:block>
  <div th:fragment="content" class="cs-content position-absolute px-0 overflow-hidden">
    <!-- 지도 영역 style 속성 건들지 말것 -->
    <div id="maps" style="height: calc(100vh - 80px); position: static"></div>
    <!-- 검색 영역-->
    <div class="cs-map-search-cover col-12 col-sm-7 col-xl-4 m-3 p-0"
    >
      <div class="row justify-content-end cs-map-search-section" >

        <div>
          <div class="row">
            <div class="col-12">
              <div class="input-group mb-2 px-1">
                <input id="keyword" type="text" class="form-control" placeholder="장소 또는 지역을 검색하세요" aria-label="search place or region"
                       aria-describedby="button-addon2" />
                <button class="btn btn-primary" type="button" id="map-search-btn">
                  <i class="fa fa-search fa-xl"></i>
                </button>
              </div>
            </div>
          </div>
          <!-- tag section-->
          <div class="cs-tag-section">
            <div class="d-inline p-0 mb-1">
              <button class="btn btn-tag btn-sm btn-rounded border btn-secondary selected text-truncate"
                      data-mdb-close="true">
                ⌛️ 음식이 빨리나와요
              </button>
            </div>
            <div class="d-inline p-0 mb-1">
              <button class="btn btn-tag btn-sm btn-rounded border btn-secondary  text-truncate"
                      data-mdb-close="true">
                ⌛️ 음식이 빨리나와요
              </button>
            </div>
            <div class="d-inline p-0 mb-1">
              <button class="btn btn-tag btn-sm btn-rounded border btn-secondary  text-truncate"
                      data-mdb-close="true">
                ⌛️ 음식이 빨리나와요
              </button>
            </div>
            <div class="d-inline p-0 mb-1">
              <button class="btn btn-tag btn-sm btn-rounded border btn-secondary  text-truncate"
                      data-mdb-close="true">
                ⌛️ 음식이 빨리나와요
              </button>
            </div>
            <div class="d-inline p-0 mb-1">
              <button class="btn btn-tag btn-sm btn-rounded border btn-secondary  text-truncate"
                      data-mdb-close="true">
                ⌛️ 음식이 빨리나와요
              </button>
            </div>
          </div>
          <!-- end tag section-->
        </div>
      </div>
    </div>

    <div class="position-absolute cs-bar-cover"
         style="      background-color:rgba(128, 128, 128, 0.413);">
      <div class="bar ">
        <button class="cs-btn-active d-sm-none">
          <i class="fa-sharp fa-solid fa-arrow-up fa-xl"></i>
        </button>
        <button class="cs-btn-deactive d-sm-none">
          <i class="fa-sharp fa-solid fa-arrow-down fa-xl"></i>
        </button>
        <button class="cs-btn-active d-none d-sm-inline-block">
          <i class="fa-sharp fa-solid fa-arrow-right fa-xl"></i>
        </button>
        <button class="cs-btn-deactive d-none d-sm-inline-block">
          <i class="fa-sharp fa-solid fa-arrow-left fa-xl"></i>
        </button>
      </div>
      <div class="position-absolute cs-map-list-section-cover " id="market-list">



      </div>
    </div>
    <!-- 목록 영역 -->

  </div>

  <th:block th:fragment="add_bottom">
    <script
            type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f2c91bcc5c4048c4895d5df8b4d7f33c"
    ></script>
    <script type="text/javascript" th:src="@{/js/map.js}"></script>
  </th:block>
</th:block>