<!DOCTYPE html>
<th:block th:replace="layout/main-layout :: layout(feed,none)">
    <th:block th:fragment="add_header">
        <title>가게 상세페이지</title>

    </th:block>
    <div th:fragment="content" class="cs-main-content-bg cs-content col container-flude p-3">
        <div class="cs-mypage-container">

            <div class="cs-storepage">


                <div id="carouselMaterialStyle" class="carousel slide carousel-fade" data-mdb-ride="carousel"
                     style="height: 500px;">
                    <!-- Inner -->
                    <div class="carousel-inner rounded-5 shadow-4-strong">
                        <!-- Single item -->
                        <div class="carousel-item active">
                            <img  class="d-block w-100" alt="" th:src="@{/asset/photo_review1.jpg}"/>
                        </div>

                        <!-- Single item -->
                        <div class="carousel-item">
                            <img  class="d-block w-100" alt="" th:src="@{/asset/photo_review2.jpg}"/>

                        </div>

                        <!-- Single item -->
                        <div class="carousel-item">
                            <img  class="d-block w-100"
                                 alt="" th:src="@{/asset/photo_review3.jpg}"/>

                        </div>
                    </div>
                    <!-- Inner -->

                    <!-- Controls -->
                    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselMaterialStyle"
                            data-mdb-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-mdb-target="#carouselMaterialStyle"
                            data-mdb-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

        </div>

        <div class="cs-mypage-container" style="height: 400px;">
            <div class="cs-mypage-container">

                <!-- Columns are always 50% wide, on mobile and desktop -->
                <div class="row">
                    <div class="col-6">
                        <div class="cs-restaurant-detail" style="width: fit-content; float: left; ">
                            <header>
                                <div class="cs-restaurant_title_wrap">
                                <span class="title">
                                    <h1 class="cs-restaurant_name" th:text="${market.name}"></h1>
                                   <strong class="cs-rate-point "> <span><i class="fa-solid fa-star"
                                                                            style="color: #ffde66;"
                                                                            th:text="${avg}"></i></span> </strong>

                                    <p class="branch"></p>
                                </span>
                                </div>


                            </header>


                            <!-- 상세 정보 -->
                            <table class="info">


                                <tbody>
                                <tr>
                                    <th>주소</th>
                                    <td><span th:text="${market.address_name}"></span><br>

                                        <span class="Restaurant__InfoAddress--Rectangle">지번</span>
                                        <span class="Restaurant__InfoAddress--Text"
                                              th:text="${market.road_address_name}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>전화번호</th>
                                    <td th:text="${market.phone_num}"></td>
                                </tr>

                                <tr>
                                    <th>음식 종류</th>
                                    <td>
                                        <span th:text="${market.category_cd}"></span>
                                    </td>
                                </tr>



                                <tr>
                                    <th style="vertical-align:top;">영업시간</th>
                                    <td>18:00 - 01:00</td>
                                </tr>




                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="col-6">
                        <!-- kakao API -->
                        <div id="staticMap" style="width:450px;height:350px;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cs-mypage-container"
             style=" background-color: #f1f3f4;  padding-top: 30px; padding-bottom: 30px; border-radius:10px;">
            <div style="margin-bottom:30px; background-color:#fff;">


                <section class="mb-5">
                    <div class="card bg-light">
                        <div class="card-body">

                            <ul class="list-group list-group-light">

                                <li class="list-group-item d-flex justify-content-between align-items-center"
                                    th:each="review:${list}">
                                    <div class="d-flex align-items-center listmargin">
<!--                                        <span>[[${review.img_url}]],[[${review.star}]]</span>-->
                                        <img class="rounded-circle" th:src="@{/download/}+${review.img_url}"
                                             alt="..." width="50px">
                                        <div class="carousel-item" th:if="${review.img_url != null}">
                                <!--        <img class="rounded-circle" th:src="@{/download/}+${review.img_url}"
                                             alt="...">
                                        <img class="rounded-circle" th:src="@{/asset/}+${review.img_url}"-->
                                                 alt="...">
                                        </div>
                                        <div class="ms-3">
                                            <p class="fw-bold mb-1" th:text="${review.name}">작성자:</p>
                                            <a th:href="@{/content/feed/{review_seq}(review_seq=${review.review_seq})}">
                                                <p th:text="${review.title}">
                                             </p></a>
                                        </div>
                                    </div>
                                    <span class="listmarginrigth" >
                                        <th:block th:each="i : ${#numbers.sequence(1, review.star)}">
                                            <i class="fa-solid fa-star" style="color: #ffde66;"></i>
                                        </th:block>

                                        <th:block th:if="${review.star <= 4}"
                                                  th:each="i : ${#numbers.sequence(1, 5 - review.star)}">
                                            <i class="fa-regular fa-star" style="color: #ffde66;"></i>
                                        </th:block>

<!--                                        <i class="fas fa-thumbs-up" aria-hidden="true"><span th:text="${review.recommand_count}"></span></i>-->

                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <th:block th:fragment="add_bottom">
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=aefec6148ed2704a4111f05611551ae6"></script>
        <script>

            var lati = [[${market.y}]]
            console.log(lati);
            var longi = [[${market.x}]]
            console.log(longi);
            var markerPosition  = new kakao.maps.LatLng(lati,longi);

            var marker = {
                position: markerPosition
            };

            var staticMapContainer  = document.getElementById('staticMap'),
                staticMapOption = {
                    center: new kakao.maps.LatLng(lati,longi),
                    level: 3,
                    marker: marker
                };

            var staticMap = new kakao.maps.StaticMap(staticMapContainer, staticMapOption);
        </script>
    </th:block>
</th:block>
