<!DOCTYPE html>

<script>
    function editform(button) {

    const commentSeq = button.id.split('-')[1];
    const commentContent = document.getElementById(`commentcontent-${commentSeq}`);
    const commentEdit = document.getElementById(`commentedit-${commentSeq}`);

    commentContent.style.display = 'none';
    commentEdit.style.display = 'block';


}
</script>

<th:block th:replace="layout/main-layout :: layout(feed,none)">
    <th:block th:fragment="add_header">
        <title>가게 리뷰 게시물</title>
    </th:block>
    <div th:fragment="content" class="cs-main-content-bg cs-content col container-flude p-3">

        <div class="cs-mypage-container">
            <div class="cs-storepage">
                <div id="carouselMaterialStyle" class="carousel slide carousel-fade" data-mdb-ride="carousel"
                     style="height: 500px;">
                    <!-- Inner -->
                    <div class="carousel-inner rounded-5 shadow-4-strong">
                        <!-- Single item -->
                        <div class="carousel-item active" th:if="${review.img_1 != null}">
                            <img th:src="@{/download/}+${review.img_1}" class="d-block w-100"
                                 alt="" />
                        </div>
                        <!-- Single item -->
                        <div class="carousel-item" th:if="${review.img_2 != null}">
                            <img th:src="@{/download/}+${review.img_2}" class="d-block w-100" alt="" />

                        </div>

                        <!-- Single item -->
                        <div class="carousel-item" th:if="${review.img_3 != null}">
                            <img th:src="@{/download/}+${review.img_3}" class="d-block w-100" alt="" />

                        </div>
                        <!-- Single item -->
                        <div class="carousel-item" th:if="${review.img_4 != null}">
                            <img th:src="@{/download/}+${review.img_4}" class="d-block w-100" alt="" />
                        </div>
                        <!-- Single item -->
                        <div class="carousel-item" th:if="${review.img_5 != null}">
                            <img th:src="@{/download/}+${review.img_5}" class="d-block w-100" alt="" />
                        </div>
                    </div>
                    <!-- Inner -->

                    <!-- Controls -->
                    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselMaterialStyle"
                            data-mdb-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-mdb-target="#carouselMaterialStyle"
                            data-mdb-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="cs-mypage-container" style="height: 400px;">
                <div class="cs-mypage-container">

                    <!-- Columns are always 50% wide, on mobile and desktop -->
                    <div class="row">
                        <div class="col-6">
                            <div class="cs-restaurant-detail" style="width: fit-content; float: left; ">
                                <header>
                                    <div class="cs-restaurant_title_wrap">
                                <span class="title">
                                    <h1 class="cs-restaurant_name">미라이</h1>
                                    <strong class="cs-rate-point ">
                                        <span><i class="fa-solid fa-star" style="color: #ffde66;"></i>4.8</span>
                                    </strong>

                                    <p class="branch"></p>
                                </span>
                                    </div>

                                </header>

                                <!-- 상세 정보 -->
                                <table class="info">

                                    <tbody>
                                    <tr>
                                        <th>주소</th>
                                        <td>서울특별시 강남구 논현로153길 24 끌레르빌 1F<br>
                                            <span class="Restaurant__InfoAddress--Rectangle">지번</span>
                                            <span class="Restaurant__InfoAddress--Text">서울시 강남구 신사동 557-25 끌레르빌 1F</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th>전화번호</th>
                                        <td>02-540-0934</td>
                                    </tr>

                                    <tr>
                                        <th>음식 종류</th>
                                        <td>
                                            <span>이자카야 / 오뎅 / 꼬치</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th style="vertical-align:top;">영업시간</th>
                                        <td>18:00 - 01:00</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="col-6">

                            <iframe class="cs-storeinfo-map"
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3164.4422845278787!2d127.02133148393628!3d37.521070154683464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca3ecd3a6732d%3A0x84a7da91e705e154!2z7ISc7Jq47Yq567OE7IucIOqwleuCqOq1rCDrhbztmITroZwxNTPquLggMjQ!5e0!3m2!1sko!2skr!4v1695518239547!5m2!1sko!2skr"
                                    width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        <div class="cs-mypage-container"
             style=" background-color: #f1f3f4;  padding-top: 30px; padding-bottom: 30px; border-radius:10px;">
            <section class="mb-5">
                    <div class="card bg-light">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-9 cs-reviewtest"><h3 th:text="${review.title}">test-제목</h3></div>
                                <div class="col-3">
<!--                                    별점 icon-->
                            <span class="listmarginrigth">
<!--                                <th:block th:each="i : ${#numbers.sequence(1, review.star)}">-->
<!--                                    <i class="fa-solid fa-star" style="color: #ffde66;"></i>-->
<!--                                </th:block>-->
<!--                                <th:block th:each="i : ${#numbers.sequence(1, 5 - review.star)}">-->
<!--                                    <i class="fa-regular fa-star" style="color: #ffde66;"></i>-->
<!--                                </th:block>-->
                                <th:block th:each="i : ${#numbers.sequence(1, review.star)}">
                                <i class="fa-solid fa-star" style="color: #ffde66;"></i>
                                </th:block>

                                <!-- 회색 별 그리기 -->
                                <th:block th:if="${review.star <= 4}" th:each="i : ${#numbers.sequence(1, 5 - review.star)}">
                                    <i class="fa-regular fa-star" style="color: #ffde66;"></i>
                                </th:block>
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                <img class="rounded-circle shadow-1-strong me-3"
                                     src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(23).webp" alt="avatar" width="60"
                                     height="60" />
                                &nbsp;
                                <i class="far fa-eye fa-lg" aria-hidden="true"><small th:text="${review.view_count}" class="text-muted"></small></i>

                            </span>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            <section class="mb-5">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h6 th:text="${review.content}"></h6>
                        </div>
                        <div style=" text-align: center;">
                            <form th:action="@{'/content/feed/' + ${review.review_seq} + '/add-postrecommand'}"
                                  method="post" style="display:inline;">
                                <input type="hidden" name="user_seq" th:value="${session.user.user_seq}" />
                                <input type="hidden" name="_method" value="post" />
                                <button type="submit" class="btn btn-outline-warning btn-rounded link-muted" data-mdb-ripple-color="dark"><i class="fa-regular fa-thumbs-up fa-lg" aria-hidden="true"></i><p th:text="${review.recommend_count}" class="text-muted" style="color:#e4a11b;"></p></button>
                            </form>
                        </div>
                    </div>
                </section>
            <section class="mb-5">
                <div class="card text-dark">
                    <div class="card-body p-4">
                        <form th:action="@{'/content/feed/' + ${review.review_seq} + '/add-comment'}" method="post" class="mb-4">
                            <input type="hidden" name="user_seq" th:value="${session.user.user_seq}" />
                            <textarea name="content" class="form-control" rows="3" placeholder="댓글 남기기"></textarea>
                            <button type="submit" class="btn btn-warning" style="margin-top:5px; margin-bottom: 30px;">등록</button>
                        </form>
                    </div>

                    <div th:each="comment : ${comments}">
                        <div  class="card-body p-4">
                            <div class="d-flex flex-start">
                                <img class="rounded-circle shadow-1-strong me-3"
                                     src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(23).webp" alt="avatar" width="60"
                                     height="60" />
                                    <div>
                                        <h6 class="fw-bold mb-1"><span th:text="${comment.name}"></span></h6>
                                        <div class="d-flex align-items-center mb-3">
                                            <p class="mb-0"><span th:text="${comment.created_at}"></span></p>
                                            <!-- 추천 버튼 -->
                                            <form th:action="@{'/content/feed/' + ${review.review_seq} + '/add-recommand/' + ${comment.comment_seq}}"
                                                  method="post" style="display:inline;">
                                                <input type="hidden" name="user_seq" th:value="${session.user.user_seq}" />
                                                <input type="hidden" name="_method" value="post" />
                                                <button type="submit" class="link-muted" style="border: none; background-color: transparent;">
                                                    <i class="fas fa-thumbs-up ms-2" style="color: #8b8b8b;"></i>
                                                </button>

                                            </form>
                                            <p class="mb-0"><span th:text="${comment.recommend_count}"></span></p>


                                            <!-- 수정 버튼-->
                                            <button type="submit" style="border: none; background-color: transparent;" class="link-muted edit-comment"  th:id="'editbutton-'+${comment.comment_seq}"
                                                    onclick="editform(this)" th:if="${session.user.user_seq == comment.user_seq}">
                                                <i class="fas fa-pencil-alt ms-2" style="color: #8b8b8b;"></i>
                                            </button>
<!--                                            <form th:action="@{'/content/feed/' + ${review.review_seq} + '/delete-comment/' + ${comment.comment_seq}}"-->
<!--                                                  method="post" style="display:inline;">-->
<!--                                                <input type="hidden" name="_method" value="post" />-->
<!--                                                <button type="submit" class="link-muted" style="border: none; background-color: transparent;">-->
<!--                                                    <i class="fas fa-x ms-2" style="color: #8b8b8b;"></i>-->
<!--                                                </button>-->
<!--                                            </form>-->
                                            <form th:action="@{'/content/feed/' + ${review.review_seq} + '/delete-comment/' + ${comment.comment_seq}}"
                                                  method="post" style="display:inline;" th:if="${session.user.user_seq == comment.user_seq}">
                                                <input type="hidden" name="_method" value="post" />
                                                <button type="submit" class="link-muted" style="border: none; background-color: transparent;">
                                                    <i class="fas fa-x ms-2" style="color: #8b8b8b;"></i>
                                                </button>
                                            </form>
                                        </div>

                                           <!-- 댓글내용 -->
                                        <div th:id="'commentcontent-'+${comment.comment_seq}" style="display:inline;" class="mb-0"><span th:text="${comment.content}"></span></div>
                                            <!-- 수정 form -->
                                        <div th:id="'commentedit-'+${comment.comment_seq}" style="display:none; margin-top: 10px;">
                                            <form th:action="@{'/content/feed/' + ${review.review_seq} + '/edit-comment/' + ${comment.comment_seq}}"
                                                  method="post">
                                                <textarea name="content" class="form-control" rows="3" th:text="${comment.content}"></textarea>
                                                <button type="submit" class="btn btn-warning mt-2">수정</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-0" style="height: 1px;" />
                        </div>
                    </div>
                </section>
            </div>
    </div>

    <th:block th:fragment="add_bottom">
        <script type="text/javascript" th:src="@{/js/feed.js}"></script>
    </th:block>

</th:block>
