<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ko">

<!--<th:block th:replace="layout/main-layout :: ">-->
<th:block th:replace="layout/main-layout :: layout(white,none)">

    <th:block th:fragment="add_header">
        <title>글작성</title>
        <style>
            body{
                 background-image: linear-gradient(to bottom,#f87a12,#ffff);
                 height: 200px;
                 background-repeat: repeat-x;
            }
        </style>
    </th:block>

    <div th:fragment="content" class="cs-content">
        <form role="form" action="/content/feed/write" method="post" enctype="multipart/form-data">


        <div class="board_wrap">
            <div class="board_title">
                <strong>글작성</strong>
            </div>
        </div>

        <div class="bg_container">
            <div class="bubble"></div>
            <div class="container">
                <div class="board_write_wrap">
                    <div class="board_write">
                        <div class="write_title">
                            <dl>
                                <dt><strong>제목</strong></dt>
                                <dd><input type="hidden" name="user_seq" th:value="${session.user.user_seq}" />
                                    <input type="text" placeholder="제목 입력" style="border: none;" name="title"></dd>
                            </dl>


                            <dl>
                                <dt><strong>정보</strong></dt>
                                <dd><input type="text" placeholder="가게 이름" style="border: none;" name="name" ></dd>
                            </dl>

                            <dl>
                                <dt><strong>별점</strong></dt>
                                <dd>
                                    <span>
                                        <form name="myform"  method="post" action="./save">
                                            <fieldset id="myform">
                                                <input type="radio"  value="5" id="rate1" name="star">
                                                <label for="rate1">★</label>
                                                <input type="radio"  value="4" id="rate2" name="star">
                                                <label for="rate2">★</label>
                                                <input type="radio"  value="3" id="rate3" name="star">
                                                <label for="rate3">★</label>
                                                <input type="radio"  value="2" id="rate4" name="star">
                                                <label for="rate4">★</label>
                                                <input type="radio"  value="1" id="rate5" name="star">
                                                <label for="rate5">★</label>
                                            </fieldset>
                                         </form>

                                    </span>

                                </dd>

                            </dl>
                            <div class="image_container">
                            <div class="form-group">
                                <div class="col-md-2 text-right">
                                    <label for="files" class="control-label">파일1</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="file" class="form-control input-lg" name="files"
                                           id="files" placeholder="파일선택" multiple="multiple">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2 text-right">
                                    <label for="title" class="control-label">파일2</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="file" class="form-control input-lg" name="files"
                                           id="title1" placeholder="파일선택">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2 text-right">
                                    <label for="files" class="control-label">파일3</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="file" class="form-control input-lg" name="files"
                                           id="files2" placeholder="파일선택">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2 text-right">
                                    <label for="files" class="control-label">파일4</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="file" class="form-control input-lg" name="files"
                                           id="files3" placeholder="파일선택">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2 text-right">
                                    <label for="title" class="control-label">파일5</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="file" class="form-control input-lg" name="files"
                                           id="title" placeholder="파일선택">
                                </div>
                            </div>
                        </div>
                            </div>
<!--                                       <button id="image_btn">-->
<!--                                            <img-->
<!--                                                    src="./asset/img.png"-->
<!--                                                    width="125px"-->
<!--                                                    height="125px"-->
<!--                                            >-->

<!--                                        </button>-->
<!--                                        <div class="input_file">-->
<!--                                            <input type="file" id="image" accept="image/*"  multiple max="5">-->
<!--                                        </div>-->


                        <div class="write_cont">
                            <dl>
                                <dt><strong>내용</strong></dt>
                                <dd><textarea  class="form-control" rows="3" placeholder="text" name="content"></textarea></dd>
                            </dl>
                        </div>



                    <div class="bt_wrap">
                        <div class="col-lg-2 text-center">
                            <button type="submit" class="btn btn-success"
                                    style="width: 100px;">등록</button>
                        </div>
                        <div class="col-lg-2 text-center">
                            <button type="reset" class="btn btn-default"
                                    style="width: 100px;">취소</button>
                        </div>
                    </div>

                    </div>
                </div>
            </div>
        </form>
        </div>


    <th:block th:fragment="add_bottom">

        <script type="text/javascript" th:src="@{/js/feed-write.js}"></script>

    </th:block>

</th:block>