<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ko">

<!--<th:block th:replace="layout/main-layout :: ">-->
<th:block th:replace="layout/main-layout :: layout(white,none)">

    <th:block th:fragment="add_header">
        <title>공지사항</title>

        <script th:src="@{/css/summernote-lite.css}"></script>
        <script th:src="@{/js/summernote-lite.js}"></script>
        <script th:src="@{https://code.jquery.com/jquery-3.4.1.slim.min.js}"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"></script>
        <link th:href="@{https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css}" rel="stylesheet">
        <script th:src="@{https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js}"></script>
        <style>
            body{
                 background-image: linear-gradient(to bottom,#f87a12,#ffff);
                 height: 200px;
                 background-repeat: repeat-x;
            }
        </style>
    </th:block>

    <div th:fragment="content" class="cs-content">



        <div class="board_wrap">
            <div class="board_title">
                <strong>QnA</strong>
                <p>무엇이든 물어보세요</p>
            </div>
        </div>

        <div class="bg_container">
            <div class="bubble"></div>
            <div class="container">
                <div class="board_write_wrap">
                    <div class="board_write">
                        <div class="write_title">
                            <dl>
                                <dt><strong>제목</strong></dt>
                                <dd><input type="text" placeholder="제목 입력" style="border: none;"></dd>
                            </dl>
                        </div>

                        <div class="write_name">
                            <dl>
                                <dt><strong>이름</strong></dt>
                                <dd><input type="text" placeholder="작성자 입력" style="border: none;"></dd>
                            </dl>
                        </div>

                        <div class="write_pass">
                            <dl>
                                <dt><strong>번호</strong></dt>
                                <dd><input type="password" placeholder="비밀번호 입력" style="border: none;"></dd>
                            </dl>
                        </div>



                        <div class="write_upload">
                            <div id="summernote"></div>
                        </div>

                        <!--<div class="write_cont">
                            <dl>
                                <dt><strong>내용</strong></dt>
                                <dd><textarea placeholder="내용 입력"></textarea></dd>
                            </dl>
                        </div>-->
                    </div>
                </div>
                <div class="bt_wrap">
                    <a href="view.html" class="on">등록</a>
                    <a href="notice.html">취소</a>
                    <script type="text/javascript" th:lnline="javascript">

                        $('#summernote').summernote({
                       placeholder: 'Hello stand alone ui',
                       tabsize: 2,
                       height: 500,
                        toolbar: [
                          ['style', ['style']],
                          ['font', ['bold', 'underline', 'clear']],
                          ['color', ['color']],
                          ['para', ['ul', 'ol', 'paragraph']],
                          ['table', ['table']],
                          ['insert', ['link', 'picture', 'video']],
                          ['view', ['fullscreen', 'codeview', 'help']]
                        ]

                      });
                    </script>
                </div>
            </div>
        </div>

    </div>

    <th:block th:fragment="add_bottom">

        <script type="text/javascript" th:src="@{/js/summt.js}"></script>

    </th:block>

</th:block>