<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
  <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
  <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>

  <style>
    .input-form {
      max-width: 680px;
      margin-top: 80px;
      padding: 32px;
      background: #fff;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
    }

    .btn-light {
      background: #ff7a01;
      color: #fff;
      /* width: 380px; */
      font-weight: 650;
      margin-top: 20px;
    }

    .containe {
      padding-bottom: 50px;
    }

  </style>
</head>

<body style="background: #ff7a01">
<div class="container">
  <div class="input-form-backgroud row" style="margin-bottom: 100px;">
    <div class="input-form col-md-12 mx-auto">
      <img th:src="@{/asset/logo-removebg-preview.png}" class="img-fluid" alt="...">
      <h4 class="mb-3">회원가입</h4>

      <form class="validation-form" action="/join" method="post" >
        <div class="row">

          <label for="id">아이디</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" aria-describedby="basic-addon2" id="id" name="id">
<!--
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">중복확인</button>
            </div>
-->
          </div>

          <label for="password">비밀번호</label>
          <div class="mb-3">
            <input type="password" class="form-control" id="password" name="password" >
            <div class="invalid-feedback">
              비밀번호 입력해주세요.
            </div>
          </div>
<!--

          <label for="password2">비밀번호 재확인</label>
          <div class="mb-3">
            <input type="password" class="form-control" id="password2" >
            <div class="invalid-feedback">
              비밀번호 입력해주세요.
            </div>
          </div>

-->
          <label for="name">닉네임</label>
          <div class="mb-3">
            <input type="text" class="form-control" id="name" name="name">
            <div class="invalid-feedback">
              이름을 입력해주세요.
            </div>
          </div>

<!--
          <label for="nickname">닉네임</label>
          <div class="mb-3">
            <input type="text" class="form-control" id="nickname">
            <div class="invalid-feedback">
              닉네임을 입력해주세요.
            </div>
          </div>
-->

          <div class="mb-3">
            <label for="email">이메일</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="example@example.com">
            <div class="invalid-feedback">
              이메일을 입력해주세요.
            </div>
          </div>

<!--
          <div class="mb-3">
            <form>
              <input type="radio" class="radio" name="gender">&nbsp 여성
              <input type="radio" class="radio" name="gender">&nbsp 남성
            </form>
          </div>
-->

<!--
          <div class="input-group mb-3">
            <div class="col-md-3">
              <label for="birth">생년월일</label>
              <label for="inputEmail4" class="form-label"></label>
              <input type="text" class="form-control" id="inputEmail4" placeholder="YYYY">
            </div>
-->
<!--
            <div class="col-md-3">
              <label for="inputPassword4" class="form-label"></label>
              <input type="text" class="form-control" id="inputPassword4" placeholder="MM">
            </div>
-->
<!--
            <div class="col-md-3">
              <label for="inputPassword4" class="form-label"></label>
              <input type="text" class="form-control" id="inputPassword4" placeholder="DD">
            </div>
-->
<!--          </div>-->

<!--
          <label for="id">휴대전화</label>
          <div class="input-group mb-3">
            <input type="tel" class="form-control" placeholder=""  aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">인증</button>
            </div>
          </div>
-->

<!--
          <label for="id">인증번호</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder=""  aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">확인</button>
            </div>
          </div>
-->


<!--
        <label for="id">약관</label>
        <div class="card">
          <div class="card-body">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                전체 약관 동의
              </label>
            </div>

            <hr />
            <p>필수 동의 항목</p>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label">
                <span class="card-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  [필수] 이용약관
                </span>
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label">
                  <span class="card-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    [필수] 개인정보 수집동의서
                  </span>
              </label>
            </div>
-->

<!--
            <hr />
            <p>선택 동의 항목</p>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label">
                  <span class="card-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    [선택] 광고성 정보 수신 동의
                  </span>
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label">
                  <span class="card-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    [선택] 위치기반서비스 이용약관
                  </span>
              </label>
            </div>
-->

<!--          </div>-->
<!--        </div>-->
        <div class="d-grid gap-2">
          <button class="btn btn-light" type="submit">가입완료</button>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- Modal -->
<!--
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">약관 동의</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body ">
        test
        test
        test
        test
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
-->
</body>
</html>
