<!DOCTYPE html>
<th:block th:replace="layout/main-layout :: layout(feed,none)">

  <th:block th:fragment="add_header">
    <title>피드</title>
  </th:block>

  <div th:fragment="content" class="cs-main-content-bg cs-content col container-flude p-3">
    <div class="cs-content">
      <div class="row justify-content-center cs-list-cover-top">
        <div class="cs-list-outer-content">
          <div class="btn-group">
            <button id="reviewButton" type="button" value="게시글랭킹"
                    class="btn btn-light" data-mdb-ripple-color="dark">게시글 랭킹</button>
            <button id="marketButton" type="button" value="가게랭킹"
                    class="btn btn-light" data-mdb-ripple-color="dark">가게 랭킹</button>
          </div>
        </div>

        <div class="cs-list-cover justify-content-center">
          <div class="cs-list-content">
            <select id="categorySelect" class="form-select cs-list-selectbox" aria-label="Default select example">
              <option id="count" value="1">조회순</option>
              <option id="recommend" value="2">추천순</option>
            </select>
            <hr style="clear: both;"/>
            <ul class="list-group list-group-light">
              <div id="listContainer">

              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <th:block th:fragment="add_bottom">
    <script type="text/javascript" th:src="@{/js/feed.js}"></script>
    <script type="text/javascript" th:src="@{/js/reviewRank.js}"></script>
    <script type="text/javascript" th:src="@{/js/marketRank.js}"></script>


  </th:block>

</th:block>
