<!DOCTYPE html>
<th:block th:replace="layout/main-layout :: layout(default,none)">
  <th:block th:fragment="add_header">
    <title>팔로우/팔로워 리스트</title>
  </th:block>

  <div th:fragment="content" class="cs-main-content-bg cs-content col container-flude p-3">
    <div class="cs-content">
    <div class="row justify-content-center cs-list-cover-top">
      <div class="cs-list-outer-content">
        <div class="btn-group">
          <!-- ajax로 요청 받아오도록 설정-->
          <button type="button" class="btn btn-light" data-mdb-ripple-color="dark" id="followerbtn">follower</button>
          <button type="button" class="btn btn-light" data-mdb-ripple-color="dark" id="followingbtn">following</button>
        </div>
      </div>

      <div class="cs-list-cover justify-content-center">
        <div class="cs-list-content">
          <div th:if="${following} != null">
          <ul class="list-group list-group-light">
            <li class="list-group-item d-flex justify-content-between align-items-center" th:each="follow : ${following}">
              <div class="d-flex align-items-center">
                <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt=""
                     style="width: 45px; height: 45px" class="rounded-circle" />
                <div class="ms-3">
                  <a th:href="@{'/user/profile/'} + ${follow.id}"><p class="fw-bold mb-1" th:text="${follow.name}"></p></a>
                  <p class="text-muted mb-0" th:text="${follow.email}"></p>
                </div>
              </div>
              <div th:if="${session.user.user_seq == this_user}">
              <a class="btn btn-danger btn-rounded"
                 th:href="@{'/user/profile/' + ${follow.id} + '/list_un_following'}"
                 role="button">삭제</a>
              </div>
<!--              <form th:action="@{'/user/list/' + ${follow.id} + '/un_following'}"-->
<!--                    method="post" style="display:inline;">-->
<!--                <button type="submit" class="btn btn-danger btn-rounded">삭제</button>-->
<!--              </form>-->
            </li>
          </ul>
          </div>
          <div th:if="${follower} != null">
            <ul class="list-group list-group-light">
              <li class="list-group-item d-flex justify-content-between align-items-center" th:each="follow : ${follower}">
                <div class="d-flex align-items-center">
                  <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt=""
                       style="width: 45px; height: 45px" class="rounded-circle" />
                  <div class="ms-3">
                    <a th:href="@{'/user/profile/'} + ${follow.id}"><p class="fw-bold mb-1" th:text="${follow.name}"></p></a>
                    <p class="text-muted mb-0" th:text="${follow.email}"></p>
                  </div>
                </div>
                <div th:if="${session.user.user_seq == follow.user_seq}">
                <a class="btn btn-danger btn-rounded"
                   th:href="@{'/user/profile/' + ${follow.id} + '/list_un_follower'}"
                   role="button">삭제</a>
                </div>
                <!--              <form th:action="@{'/user/list/' + ${follow.id} + '/un_following'}"-->
                <!--                    method="post" style="display:inline;">-->
                <!--                <button type="submit" class="btn btn-danger btn-rounded">삭제</button>-->
                <!--              </form>-->
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
  </div>

  <th:block th:fragment="add_bottom">
    <script type="text/javascript" th:src="@{/js/feed.js}"></script>
  </th:block>

</th:block>
