<footer th:fragment="footer" class="footer m-0 border pt-1 fixed-bottom" >
  <!-- row-cols-2 row-cols-sm-5 row-cols-lg-7 g-3 g-lg-3 -->
  <div
    class="row row-cols-2 row-cols-sm-6 text-center justify-content-center align-items-center bg-gray"
    style="max-height: 50vh"
  >
    <div class="col footer-menus">
      <a href="#">이용약관</a>
    </div>
    <div class="col footer-menus">
      <a href="#"><strong>개인정보처리방침</strong></a>
    </div>
    <div class="col footer-menus">
      <a href="#">오픈소스라이센스</a>
    </div>
    <div class="col footer-menus">
      <a href="#">고객센터</a>
    </div>
  </div>
</footer>
