<nav
        th:fragment="sidebar-content"
        id="sidebarMenu"
        class="sidebar bg-white col-11  col-xs-10 col-sm-9 col-md-8 col-lg-3 col-xl-2 collapse cs-sidebar-menu"
>
    <div class="position-sticky">
        <div class="list-group list-group-flush cs-sidebar-list-group">
            <div class="p-1">
                <div
                        class="cs-profile-box justify-content-center d-flex flex-column bd-highlight text-center"
                >
                    <!-- <div class=""> -->
                    <div class="mb-1">
                        <img class="cs-profile" th:src="@{/asset/profile.png}"/>
                    </div>
                    <div>
                        <p>
                            <strong
                            ><span><a href="#" class="nickname">닉네임</a></span>
                            </strong>
                        </p>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
            <a
                    href="#"
                    class="list-group-item list-group-item-action py-2 ripple"
                    aria-current="true"
            >
                <i class="fa-solid fa-user fa-fw me-3"></i>

                <span>마이페이지</span>
            </a>
            <a
                    href="#"
                    class="list-group-item list-group-item-action py-2 ripple active"
            >
                <i class="fa-solid fa-comments fa-fw me-3"></i>
                <span>피드</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action py-2 ripple"
            >
                <i class="fa-solid fa-location-dot  fa-fw me-3"></i>
                </i><span>맛집 지도</span></a
            >
            <a href="#" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fa-solid fa-medal fa-fw me-3"></i><span>랭킹</span></a
            >
            <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fa-solid fa-question fa-fw me-3"></i><span>Q&A 게시판</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fa-solid fa-flag  fa-fw me-3"></i></i><span>공지사항</span></a
            >
            <a href="#" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fa-solid fa-arrow-right-from-bracket fa-fw me-3"></i></i><span>로그아웃</span></a
            >

        </div>
    </div>
</nav>
